<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sprout</title>
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <header class="nopadding">
      <h1>Sprout</h1>
    </header>
    <div class="container">
      <div class="row justify-content-center">
        <!--dropdown button -->
         <div class="btn-group">
          <button type="button" class="btn btn-success dropdown-toggle button margin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</button>
          <div class="dropdown-menu">
          <a class="dropdown-item" href="#">School</a>
          <a class="dropdown-item" href="#">Parkour</a>
          <a class="dropdown-item" href="#">Nathan's House</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Add New Location</a>
        </div>
      </div>
      <!--submit button-->
      <div class="col-12 arrived">
        <div class="btn-group">
          <button type="button" class="btn btn-success button bbutton margin">Arrived!</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="./javascripts/app.js"></script>
  </body>
</html>
