body {
  padding: 50px;
  font-family: 'Slabo 27px', serif;
  background: rgb(255, 245, 216) url('../images/9232869e8948e80e7f794ebb3e543674.png') fixed no-repeat bottom center;
  text-align: center;
  background-size: contain;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

h1 {
	padding-top: 25px;
	font-size: 65px;
	font-weight: bold;
	color: #55322C;
}

h3 {
	color: #55322C;
}

.link {
	font-size: 25px;
	color: #55322C;
}

.margin {
	margin-top: 75px;
}

.button {
	background-color: rgba(158, 215, 56, 0.8);
	color: #55322C;
	height: 65px;
	width: 150px;
	font-size: 27px;
}

a {
  color: #00B7FF;
}

.nopadding {
	padding: 0;
}